body {
    /*Para cambiar el color de fondo*/
    background-color: rgb(240, 132, 168);
    /*Letras COLOR*/
    color: beige;
    /*Familia de las letras-font family*/
    font-family: 'Caveat', cursive;
    
}

p{
    color: darkslategray;
}

/*Para agregar una clase, ponemos (.) antes del nombre*/
.TITULO {
    color: #722731 ;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline overline #FF3028;
}

/*Si no lleva punto afectas todos los elementos*/

img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.primins{
width: 500px;px;
height: 500px;
}

.one{
    text-align: center;
}

.titulitos{
    text-align: center;
}
.todoroki{
    font-family:'Bangers', cursive;
    text-align: center;
    text-decoration:overline;
    color: rgb(73, 2, 6);
    font-size: 50px;
}

.uraraka{
    text-align: center;
text-shadow: #722731;
text-decoration:overline;
color: crimson;
font-size:x-large;
}